body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima para a página */
}

.container {
    flex: 1; /* Flexível para preencher o espaço */
}

.card {
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    background-color: #0551a2ab;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    background-color: #f8f9fa;
    font-size: 20px;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; /* Ajusta a margem conforme necessário */
}

.form-group label {
    font-weight: bold;
    text-align: center; /* Centraliza o texto dos labels */
}

.form-control {
    border-radius: 10px;
    max-width: 300px; /* Ajusta a largura dos campos numéricos */
    text-align: center; /* Centraliza o texto dentro dos inputs */
}

.btn-block {
    border-radius: 10px;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.footer p span {
    color: #fff;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.marketplace-logo {
    width: 150px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.tab-content {
    margin-bottom: 20px;
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-icon {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Modal de Erro */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    background-color: #f8d7da;
}

.modal-title {
    color: #721c24;
    font-weight: bold;
}

.modal-body {
    color: #721c24;
}

.modal-footer {
    border-top: none;
}

.close {
    color: #721c24;
    opacity: 1;
}

.close:hover {
    color: #f5c6cb;
}
