body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.card {
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    background-color: #0551a2ab;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 0;
}

.card-body {
    padding: 30px;
}

.card-footer {
    background-color: #f8f9fa;
    font-size: 20px;
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.btn-block {
    border-radius: 10px;
    margin-top: 10px;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.footer p span {
    color: #fff;
    font-weight: bold;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.marketplace-logo {
    cursor: pointer;
    transition: transform 0.2s;
}

.marketplace-logo:hover {
    transform: scale(1.1);
}

.amazon-logo {
    width: 95px;
    height: 95px;
}

.mercado-livre-logo {
    width: 95px;
    height: 95px;
}
.d-flex {
    display: flex;
    align-items: center;
}

.btn-outline-secondary {
    margin-left: 5px; /* Ajuste se necessário */
}
/* Modal de Erro */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    background-color: #f8d7da;
}

.modal-title {
    color: #721c24;
    font-weight: bold;
}

.modal-body {
    color: #721c24;
}

.modal-footer {
    border-top: none;
}

.close {
    color: #721c24;
    opacity: 1;
}

.close:hover {
    color: #f5c6cb;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens ao centro */
    text-align: center;  /* Centraliza o texto do label */
}

input[type="number"] {
    width: 100%;
    max-width: 300px; /* Ajuste o valor conforme necessário */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura total */
}
